/vendor
/node_modules

.env
.env.*
/public/build
/public/hot

/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log

.phpunit.cache
.phpunit.result.cache

npm-debug.log*
yarn-error.log*
pnpm-debug.log*

/.idea
/.vscode
/.fleet
